body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.messages{
    border: solid lightgrey 1em;
    margin:.5em;
    padding:.5em;
    border-radius:.5em;
}

:root{
    --info-color:blue;
    --info-bg-color:lightblue;
}
.message-info{
    background-color: var(--info-bg-color);/*variable in code*/
    color:blue; var(--info-color);
}
.message-success{
    background-color: lightgreen;
    color:green;
}
.message-warning{
    background-color: lightgoldenrodyellow;
    color: #ba9d37;
}
.message-error{
    background-color: lightcoral;
    color:red;
}